<div class="footer">
  <div class="container">
    <div class="row">
      <div class="follow-label col-md-4">
        <h4>Follow Us</h4>

        <div class="social group">
          <a href="https://twitter.com/ghamry98/" class="twitter"><img class="twitter-img" src="assets/Images/twitter-dark.png" ></a>
          <a href="https://www.facebook.com/AbdelrahmanELGhamry98/" class="facebook"><img class="facebook-img" src="assets/Images/facebook-dark.png" ></a>
          <a href="https://www.instagram.com/abdelrahmanelghamry/" class="instagram"><img class="instagram-img" src="assets/Images/instagram-dark.png" ></a>
          <a href="https://www.linkedin.com/in/abdelrahmanelghamry/" class="linkedin"><img class="linkedin-img" src="assets/Images/linkedin-dark.png" ></a> 
          </div>       
      </div>

      <div class="col-md-8">
        <h3 class="teamlabels">Copyright&copy; 2018 All Rights Reserved&reg; to My Circle</h3>
        <h4 class="teamlabels">Designed by El-Ghamry Team</h4>
      </div>
    </div>
  </div>
</div>