<div>
  <h1 id="contactusHeading">CONTACT US</h1>
  <p>Contact us today, and get reply with in 24 hours!</p>

  <hr>

  <div class="contactus">  
    <form id="contact" action="" method="post">
      <fieldset>
      <input placeholder="Your Name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
      <input placeholder="Your Phone Number" type="text" pattern="[0-9]{11}" tabindex="3" required>
      </fieldset>
      <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="4" required></textarea>
      </fieldset>
      <button name="submit" type="submit" id="contact-submit" class="btn btn-danger" data-submit="...Sending">Submit</button>
    </form>  
  </div>

</div>